<div *ngIf="feedback.feedbackType === 'error'" class="alert alert-danger d-flex align-items-center" role="alert">
  <div><img src="assets/img/warning.png" alt="warning" class="ms-2" style="width: 30px; height: auto;"></div>
  <span>{{ feedback.feedbackmsg }}</span>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <!-- Cart List -->
    <h2 class="text-center mb-4">Cart</h2>
    <div *ngIf="cart.length > 0">
      <ul class="list-group mb-3">
        <li *ngFor="let item of cart" class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ item.name }}</strong>
            <span class="text-muted ms-2">> {{ item.quantity }} x {{ item.price }} €</span>
          </div>
          <span class="badge bg-primary rounded-pill">{{ item.quantity * item.price }} €</span>
        </li>
      </ul>
      <div class="d-grid">
        <button type="button" class="btn btn-success btn-lg" (click)="pay()">Pay: {{ totalPrice }} €
          <img src="assets/img/amex.png" alt="American Express" class="ms-2" style="width: 30px; height: auto;">
          <img src="assets/img/mastercard.png" alt="Mastercard" class="ms-2" style="width: 30px; height: auto;">
          <img src="assets/img/visa.png" alt="Visa" class="ms-2" style="width: 30px; height: auto;">
        </button>
        <div *ngIf="feedback.feedbackType === 'success'" class="alert alert-success d-flex align-items-center"
          role="alert">
          <div><img src="assets/img/check.png" alt="check" class="ms-2" style="width: 30px; height: auto;"></div>
          <span>{{ feedback.feedbackmsg }}</span>
        </div>
      </div>
    </div>
  </div>
</div>